<template>
	<div class="App">
		<h1>Linkify</h1>
		
		<section class="Load Section">
			<h2 class="Section__header">Load</h2>
			
			<div class="Load__form">
				<input class="Input Load__password" type="password" placeholder="Token" v-model="password">
				<button class="Button" @click="refresh()">
					Load
				</button>
			</div>
		</section>
		
		<transition name="Fade">
			<section class="Links Section" v-if="token">
				<h2 class="Section__header">Links</h2>
				
				<div class="Links__table">
					<div class="Link Link--header">
						<span class="Link__name"> Name </span>
						<span class="Link__url"> URL </span>
						<span class="Link__remove"> Remove </span>
					</div>
					
					<div class="Link" v-for="link in links" :key="link.name">
						<span class="Link__name"> {{ link.name }} </span>
						<span class="Link__url"> {{ link.url }} </span>
						<button class="Button Button--remove" @click="remove(link.name)">
							Remove
						</button>
					</div>
				</div>
			</section>
		</transition>
		
		<transition name="Fade">
			<section class="Add" v-if="token">
				<h2 class="Section__header">Add</h2>
				
				<div class="Add__form">
					<input class="Input Add__name" type="text" placeholder="Name" v-model="addInputs.name">
					<input class="Input Add__url" type="text" placeholder="URL" v-model="addInputs.url">
					<button class="Button" @click="add()">
						Create
					</button>
				</div>
			</section>
		</transition>
	</div>
</template>

<style scoped>
	.App {
		padding: 20px 10px;
		max-width: 768px;
		margin: 0 auto;
	}
	
	.App h1 {
		background: linear-gradient(to right, #f2709c, #ff9472);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-top: 0;
		text-align: center;
	}
	
	.Input {
		border: 1px solid #e0e0e0;
		outline: none;
		padding: 10px 20px;
		border-radius: 5px;
		transition: border .4s ease;
	}
	
	.Input:focus {
		border: 1px solid #f2709c;
		box-shadow: inset 0 0 3px rgba(242, 112, 156, .4);
	}
	
	.Button {
		border: none;
		outline: none;
		padding: 10px 20px;
		border-radius: 5px;
		font-weight: 500;
		position: relative;
	}
	
	.Button::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .25);
		opacity: 0;
		transition: opacity .4s ease;
	}
	
	.Button:hover {
		cursor: pointer;
	}
	
	.Button:hover::after {
		opacity: 1;
	}
	
	.Section__header {
		font-size: .8rem;
		font-weight: 400;
		color: #888888;
	}
	
	.Load__form {
		display: flex;
	}
	
	.Load__password {
		flex: 1;
		margin-right: 10px;
	}
	
	.Links__table {
		border: 1px solid #d0d0d0;
		border-radius: 10px;
		background: #fafafa;
		overflow: hidden;
	}
	
	.Link {
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 4fr 100px;
		padding: 10px 20px;
		align-items: center;
		box-sizing: border-box;
	}
	
	.Link--header {
		font-size: .8rem;
		border-bottom: 1px solid #d0d0d0;
		background: #f0f0f0;
	}
	
	.Add__form {
		display: flex;
	}
	
	.Add__form * {
		margin: 0 5px;
	}
	
	.Add__form *:first-child {
		margin-left: 0;
	}
	
	.Add__form *:first-child {
		margin-right: 0;
	}
	
	.Add__url {
		flex: 1;
	}
	
	.Fade-enter-active, .Fade-leave-active {
		transition: opacity .4s ease;
	}
	
	.Fade-enter-from, .Fade-leave-to {
		opacity: 0;
	}
</style>

<style>
	html {
		background: #f1f1f1;
	}
	
	html, body {
		margin: 0;
		padding: 0;
	}
	
	#app {
		background: #fff;
		min-height: calc(100vh - 20px);
		max-width: 1280px;
		width: 100%;
		margin: 0 auto;
		margin-top: 20px;
	}
	
	* {
		font-family: 'Noto Sans CJK KR', sans-serif;
	}
</style>

<script>
	import axios from 'axios';
	import { reactive, ref, computed } from 'vue';
	
	const api = axios.create({
		validateStatus: status => status < 500
	});
	
	export default {
		setup() {
			const token = ref('');
			
			const password = ref('');
			const links = ref([]);
			
			const refresh = async () => {
				let newToken = `Bearer ${password.value}`;
				
				const { data } = await api({
					url: `/api/links/`,
					method: 'get',
					headers: {
						'Authorization': newToken
					}
				});
				
				if (!data.ok) {
					alert(`Failed to refresh! Reason: ${data.reason}`);
					return;
				}
				
				links.value = data.links;
				token.value = newToken;
			};
			
			const addInputs = reactive({ name: '', url: '' });
			const add = async () => {
				const { data } = await api({
					url: `/api/links/${addInputs.name}`,
					method: 'post',
					headers: {
						'Authorization': token.value
					},
					data: {
						url: addInputs.url
					}
				});
				
				if (!data.ok) {
					alert(`Failed to add a link! Reason: ${data.reason}`);
					return;
				}
				
				links.value.push({
					name: addInputs.name,
					url: addInputs.url
				});
			};
			
			const remove = async (name) => {
				const { data } = await api({
					url: `/api/links/${name}`,
					method: 'delete',
					headers: {
						'Authorization': token.value
					}
				});
				
				if (!data.ok) {
					alert(`Failed to delete a link! Reason: ${data.reason}`);
					return;
				}
				
				links.value = links.value.filter(({ name: itemName }) => itemName !== name);
			};
			
			return {
				password,
				token,
				links,
				refresh,
				remove,
				addInputs,
				add
			};
		}
	};
</script>